{% extends 'flatpages/default_1.html' %}

<html>
<head>
<title>{% block title %}Responses to my advertisements{% endblock title %}</title>
</head>
<body>
{% block content %}
    <h2 style="text-align: center;">Responses to my advertisements</h2>
    <form method="get">
        <select name="post">
            <option value="">All announcements</option>
            {% for post in posts %}
                <option value="{{ post.pk }}" {% if selected_post_id == post.pk %}selected{% endif %}>{{ post.header }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>
    <hr>
        {% if comments %}
        <table class="table table-bordered">
            <tr>
                <td>Объявление</td>
                <td>Текст</td>
                <td>Дата создания</td>
                <td>Автор</td>
                <td>Принять</td>
                <td>Удалить</td>
            </tr>
            {% for comment in comments %}
            <tr>
                <td>{{ comment.comment_post }}</td>
                <td>{{ comment.text }}</td>
                <td>{{ comment.time_create|date:'H:m d M Y' }}</td>
                <td>{{ comment.user }}</td>
                <td>
                    {% if comment.accepted %}
                        Отклик уже принят
                    {% else %}
                    <a href="?page=1">Принять</a>
                    {% endif %}
                </td>
                <td><a href="?page=1">Удалить</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h2>Пока нет откликов</h2>
        {% endif %}
{% endblock content %}
</body>
</html>
