{% extends 'flatpages/default_1.html' %}
{% load i18n %}

{% block title %}
BulletinBoard
{% endblock title %}

{% block content %}
    <h1 align="center">Мои комментарии</h1>

    <hr>
    {% if comment_list %}
        <table>
            {% for comment in comment_list %}
                {% if comment.confirmation_comment is False %}
                <small class="fw-bold">Дата: {{ comment.time_create|date:'d.m.Y' }}</small>
                <small class="text-muted">Автор: {{ comment.user }}</small>
                <p>Комментарий к {{ comment.comment_post|safe }}</p>
                <style>
                /* Стили кнопки */
                .main_button_confirm{display: inline-block;cursor: pointer; font-size:15px;text-decoration:none;padding:10px 10px; color:#000000;background:#98FB98;border-radius:5px;border:1px solid #000000;}
                .main_button_confirm:hover{background:#4d4d4d;color:#ffffff;border:1px solid #000000;transition: all 0.2s ease;}
                </style>
                <div align="center"><a class="main_button_confirm" href="{% url 'accept_comment' pk=comment.pk %}" title="Принять">Принять</a></div>
                <br>
                <style>
                /* Стили кнопки */
                .main_button_reject{display: inline-block;cursor: pointer; font-size:15px;text-decoration:none;padding:10px 10px; color:#000000;background:#FFA07A;border-radius:5px;border:1px solid #000000;}
                .main_button_reject:hover{background:#4d4d4d;color:#ffffff;border:1px solid #000000;transition: all 0.2s ease;}
                </style>
                <div align="center"><a class="main_button_reject" href="{% url 'accept_comment' pk=comment.pk %}" title="Отклонить">Отклонить</a></div>
                <br>
                {% else %}
                <small class="fw-bold">Дата: {{ comment.time_create|date:'d.m.Y' }}</small>
                <small class="text-muted">Автор: {{ comment.user }}</small>
                <p>Комментарий к {{ comment.comment_post|safe }}</p>
<!--                <p>{{ comment.text_comment }}</p>-->
                <style>
                /* Стили кнопки */
                .main_button{display: inline-block;cursor: pointer; font-size:15px;text-decoration:none;padding:10px 10px; color:#000000;background:#FFFAFA;border-radius:5px;border:1px solid #000000;}
                .main_button:hover{background:#4d4d4d;color:#ffffff;border:1px solid #000000;transition: all 0.2s ease;}
                </style>
                <div align="center"><a class="main_button" href="{% url 'comment' comment.id %}" title="Прочитать">Прочитать</a></div>
                </table>
                {% endif %}
            {% endfor %}
    {% else %}
        <h2>Комментариев нет!</h2>
    {% endif %}

    {# Добавляем пагинацию на страницу #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
            {% if page_obj.previous_page_number != 1 %}
                ...
                <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
    {% endif %}

    {{ page_obj.number }}


    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}
