{% extends 'flatpages/default_1.html' %}
{% load i18n %}

{% block title %}
BulletinBoard
{% endblock title %}

{% block content %}

    <h2> {% trans "Select the fields by which you want to filter:" %}</h2>
    <style>
        table {
	        border-spacing: 10px
        }
        td {
        padding: 10px;
        }
    </style>

    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="{% trans 'Find' %}" />
   </form>

   <hr>
   {% if search_post %}
       <table>
           <tr>
               <td><h5>{% trans "Title announcement" %}</h5></td>
               <td><h5>{% trans "Category" %}</h5></td>
           </tr>
           {% for post in search_post %}
           <tr>
               <td><h6>{{ post.header }}</h6></td>
               <td>{{ post.categories }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>{% trans "No ads!" %}</h2>
   {% endif %}

   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">
               {{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

{% endblock content %}