{% extends 'flatpages/default_1.html' %}
{% load i18n %}

{% block title %}
BulletinBoard
News{% endblock title %}

{% block content %}

    <h2> {% trans "Select the fields by which you want to filter:" %}</h2>
    <style>
        table {
	        border-spacing: 10px
        }
        td {
        padding: 10px;
        }
    </style>

    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="{% trans 'Find' %}" />
   </form>

    <hr>
    {% for f in filterset.qs %}
    <p class="fw-bold" align="left"><small>Дата: {{ f.date_created | date:"d.m.Y" }}</small></p>
    <p align="left">Объявление: <a href="?page=1">{{ f.header }}</a></p>
    <hr>
    {% endfor %}

{% endblock content %}